/* */
/* ============================================================================= */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\0000338}}
html {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\0000341}}
body {
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 87.5%;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003105}}
pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif;
}

/* ============================================================================= */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003170}}
#header-wrapper {
  /* Debug styles, is this working */
  background: rgba(255, 192, 203, 0.5);
}

/* */
/* */
/* */
/* */
/* */
/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003207}}
#footer-wrapper {
  /* Debug styles, is this working? */
  background: rgba(255, 192, 203, 0.5);
}

/* ============================================================================= */
/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003222}}
#logo {
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003224}}
#logo img {
  vertical-align: bottom;
}

/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003233}}
#site-name {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003236}}
#site-name a:link, #site-name a:visited {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003239}}
#site-name a:hover, #site-name a:focus {
  text-decoration: underline;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003245}}
#site-slogan {
  margin: 0;
}

/* ============================================================================= */
/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003258}}
#page-title {
  margin: 0;
}

/* ============================================================================= */
/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003271}}
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003276}}
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003287}}
ul.links {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003290}}
ul.links.inline {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003292}}
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003299}}
.search-results {
  margin: 0;
}

/* ============================================================================= */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003362}}
a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003368}}
a:hover, a:focus {
  text-decoration: underline;
}

/* ============================================================================= */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003383}}
.nav {
  clear: both;
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003386}}
.nav ul,
.nav ul.menu {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003390}}
.nav li,
.nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003397}}
.nav li a,
.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003405}}
.nav .block {
  margin-bottom: 0;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003412}}
ul.sf-menu {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003414}}
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003424}}
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003428}}
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  outline: 0;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003437}}
.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003443}}
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
  float: left !important;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003450}}
.sf-vertical {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003452}}
.sf-vertical li {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003455}}
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003461}}
.sf-vertical li a {
  padding: 0 10px;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003466}}
.sf-navbar {
  padding-bottom: 0 !important;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003471}}
.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003478}}
ul.menu {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003480}}
ul.menu ul {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003484}}
ul.menu li {
  margin: 0;
}

/* If li.content exists it's a problem, so reset the padding */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003502}}
.block .menu li.content {
  padding: 0;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003513}}
.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003517}}
.book-navigation .menu {
  margin-left: 0;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003524}}
#breadcrumb {
  margin: 10px 0;
  /* If the label is set to show in theme settings the label class is added */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003527}}
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003531}}
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003533}}
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003536}}
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003538}}
#breadcrumb li {
  list-style: none;
  display: inline;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003555}}
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003560}}
.item-list ul.pager li {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003563}}
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003568}}
ul.pager li.pager-current {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003571}}
.block ul.pager li {
  margin: 0;
}

/* */
/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003597}}
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003605}}
#skip-link a {
  background: #444444;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003614}}
#skip-link a:link, #skip-link a:visited {
  background: #444444;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003624}}
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003633}}
#tasks {
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003636}}
ul.primary {
  border-bottom-color: #cccccc;
  margin: 20px 0;
  padding: 0 0 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003640}}
ul.primary li {
  display: block;
  float: left;
  margin: 0 1px -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003644}}
ul.primary li a {
  background-color: whitesmoke;
  border-color: #cccccc;
  margin-right: 1px;
  padding: 0 10px;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003653}}
ul.primary li a:hover, ul.primary li a:focus {
  background-color: #eeeeee;
  border-color: #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003658}}
ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: white;
  border-bottom-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003664}}
ul.secondary {
  border-bottom: 1px solid #cccccc;
  margin: 1em 0 0;
  padding: 0 0.3em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003668}}
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003673}}
ul.secondary li a:hover, ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003682}}
ul.action-links {
  margin: 20px 0 0;
  list-style: none;
}

/* ============================================================================= */
/* */
/* */
/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003705}}
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/* */
/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003724}}
.field-type-taxonomy-term-reference {
  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003727}}
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003730}}
.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003811}}
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003818}}
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003825}}
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}

/* ============================================================================= */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003835}}
.block {
  margin-bottom: 20px;
}

/* */
/* */
/* */
/* */
/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003860}}
.block-title {
  margin: 0;
}

/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003870}}
.block-content ul,
.block-content ol {
  padding: 0 0 0 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003873}}
.block-content li {
  margin: 0;
  padding: 0;
}

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003989}}
.node {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\00003998}}
.node .node-title {
  margin: 0;
}

/* */
/* ============================================================================= */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031039}}
#comments {
  margin: 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031042}}
#comments h2.comment-title {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031044}}
#comments h2.comment-form {
  margin: 0;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031049}}
.comment {
  margin-bottom: 20px;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031065}}
.comment-title {
  margin: 0;
}

/* */
/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031090}}
.new {
  color: #cc0000;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031095}}
.indented {
  margin-left: 40px;
}

/* ============================================================================= */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031105}}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #cc0000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031109}}
.form-item label {
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031112}}
.form-item .description {
  font-size: 0.85em;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031120}}
.marker,
.form-required {
  color: #cc0000;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031129}}
.container-inline div,
.container-inline label {
  display: inline;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031135}}
fieldset {
  border: 1px solid #cccccc;
}

/* */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031144}}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031150}}
.password-parent,
.confirm-parent {
  margin: 0;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031158}}
table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031162}}
table.sticky-header {
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031165}}
table,
thead,
tbody,
tr,
th,
td {
  border-color: #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031173}}
table,
td,
th {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031178}}
caption,
th,
td {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031183}}
thead tr {
  font-weight: 700;
  background-color: #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031187}}
td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031195}}
tbody tr {
  border-top: 1px solid #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031198}}
tr {
  /* Table row striping */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031199}}
tr.odd {
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031202}}
tr.info, tr.even, tr:nth-child(2n+2) {
  border-bottom: 0;
  background-color: whitesmoke;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031209}}
tr.odd td.active {
  background-color: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031211}}
tr.even td.active {
  background-color: #ebebeb;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031224}}
#forum td .created,
#forum td .posts,
#forum td .topics,
#forum td .last-reply,
#forum td .replies,
#forum td .pager {
  white-space: normal;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031237}}
div.messages {
  margin-bottom: 10px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031241}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031264}}
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/_custom\.sass}line{font-family:\00003193}}
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7
.comment-unpublished p.unpublished > * {
  position: relative;
}

/* ============================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031272}}
.maintenance-page .container {
  padding: 40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031274}}
.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031279}}
.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031284}}
.db-offline div.messages {
  margin: 20px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031286}}
.db-offline #content {
  padding: 20px 0;
}

/* ============================================================================= */
/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031295}}
#admin-menu {
  margin: 0;
  padding: 0;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031301}}
.dev-query {
  background: #eeeeee;
  padding: 30px;
}

/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031307}}
#styleguide-header {
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031309}}
#styleguide-header .item-list {
  font-family: inherit;
  margin: 0 20px 20px 0;
  min-height: 260px;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/components\/_components\.sass}line{font-family:\000033}}
.socialmedia {
  display: inline-block;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/components\/_components\.sass}line{font-family:\000037}}
.socialmedia .fa {
  margin-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031318}}
#page {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031323}}
.top-right {
  float: right;
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pmackay\/dev\/herne-hill\/dev\.openlocal-hernehill\/sites\/all\/themes\/openlocal_at\/sass\/global\.styles\.sass}line{font-family:\000031327}}
#secondary-menu-bar {
  display: inline-block;
  margin-top: 5px;
}
