
%ol-teaser {
  border-bottom: $list-row-divider;
  padding: 10px 0 20px;

  color: $secondary-color;
}

%ol-teaser-title {
  font-family: $font-family-serif;
  font-size: 1.2em;
}

%ol-news-teaser-featured-image {
  display: inline-block;
  float: left;

  height: auto;
  max-width: 280px;
  margin-right: 20px;
  width: 50%;
}

%ol-news-metadata {
  padding: 0.5em 0;

  font-size: 0.85em;
}

%ol-event-teaser-date {
  color: $secondary-color;
  font-size: 1.1em;
  font-weight: 900;
  text-align: center;
}


//-----------------------------------------------------------------------------
// Drupal integration

.view-display-id-list_news_articles,
.view-display-id-homepage_news_articles {
  .views-row {
    @extend %ol-teaser;
  }

  .views-field-title {
    @extend %ol-teaser-title;
  }

  .views-field-field-featured-image {
    @extend %ol-news-teaser-featured-image;
  }

  .views-field-created,
  .views-field-comment-count {
    @extend %ol-news-metadata;
  }

  .views-field-name {
    font-family: $font-family-serif;
    font-weight: 600;
  }
}

.view-display-id-article_archive {
  h3 {
    //TODO: move to var
    padding-left: 5px;
  }
}

.view-ol-event-upcoming,
.view-ol-event-upcoming-sidebar {
  // h2 {
  //   @extend %ol-panel-title;
  // }
  table {
    background-color: transparent;
    border: none;
    width: 100%;
  }
  tbody {
    border-top: none;
  }
  tr.odd,
  tr.even {
    border-bottom: $panel-row-divider;
    background-color: transparent;
  }
  td {
    background-color: transparent;
    color: $secondary-color;
  }

  // TODO: The 'span' is a hack because event title is mixed with other
  // fields in table cell. Should probably not use tables.
  .views-field-title span {
    @extend %ol-teaser-title;
  }

  .views-field-field-ol-event-date-1,
  .views-field-field-ol-event-date {
    @extend %ol-event-teaser-date;
  }

  .views-field-field-featured-image {
    padding: 0.5em 0;
    width: 130px;
  }
}

.view-ol-event-upcoming {
  .views-field-field-ol-event-date-1 {
    width: 30px;
  }
  .views-field-field-featured-image {
    width: 130px;
  }
}

